
<!DOCTYPE html>
<html lang="en">
	<script>
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
		':35729/livereload.js?snipver=1"></' + 'script>')
	</script>

	{{> header }}
	<body>
		<div class="container mt-5">
			<div class="row"> 
				<div class="col-md-8 offset-md-2 box-shadow">
					<div class="card shadow-lg p-3 mt-5 bg-white rounded">
						<div class="card-body">
							<div class="row">
								<div class="col col-md-6 offset-md-3 pt-3">
									<h3 id="homeTitle" class="text-center mb-5 text-success">Video Event</h3>
									<a href="/joinwin" class="btn btn-success btn-lg p-4">人場</a>
									<a href="/login" class="btn btn-outline-dark btn-sm mt-2">Sign In</a>
									<small class="text-muted text-center mt-5">Version: 1.0.0 (2021/3)</small> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
