<!DOCTYPE html>
<html lang="en">
	{{> header }}
	<body>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-10 offset-md-1 box-shadow">
					<div class="card shadow-lg mt-5 bg-white rounded">
						<div class="card-body">
							{{#if message}}
								<h6 class="alert alert-{{msgStatus}} mt-4">{{message}}</h6>
							{{/if}}
								
							<div style="border: 1px solid gray; border-radius: 4px;" class="mb-5" id="loginImg">
								<img src="css/img/undraw_secure_login_pdn4.svg" alt="" srcset="" class="w-100 h-100">
							</div>
								
							<h3 id="homeTitle" class="text-center mb-4 text-success">Login</h3>
							<form action="/auth/login" method="POST" class="p-4 w-75 container">
								<div class="form-group">
									<input type="email" value="unyamka@gmail.com" class="form-control" id="email" name="email" placeholder="Email" required>
								</div>

								<div class="form-group mt-2">
									<input type="password" class="form-control" value="123" id="password" name="password" placeholder="Password" required> 
								</div>

								<div class="form-group mt-4">
									<a href="/" type="button" class=" btn btn-outline-dark btn-sm m-1" >< Back</a>
									<button type="submit" class="btn btn-success btn-sm m-1" style="float:right">&nbsp;&nbsp;Login&nbsp;&nbsp;</button>
									<a href="users/register" type="button" class="btn btn-dark btn-sm m-1" style="float:right">Register</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
